<%- include('partials/_head') %>

<body>
  <%- include('partials/_header') %>
  <div class="card text-center">
    <!-- Add info in header, and detailed table in body -->
    <div class="card-header">
      <h5 class="card-title">TinyURL for: <%= longUrl %></h5>
      <p class="card-text">
        Short URL ID and link: <a href="/u/<%= id %>"><%= id %></a>
      </p>
      <p class="card-text">
        Visited <strong><%= count %></strong> <%= count > 1 ? "times" : "time" %>
      </p>
      <p class="card-text">
        By <strong><%= uniqueVisitors %></strong> unique <%= uniqueVisitors > 1 ? "visitors" : "visitor" %>
      </p>
    </div>
    <div class="card-body my-3">
      <h4>Edit</h4>
      <form action="/urls/<%= id %>?_method=PUT" method="post">
        <label for="newUrl">New URL: </label>
        <input type="text" name="newUrl" id="" placeholder="<%= longUrl %>" value="<%= longUrl %>">
        <button class="btn btn-primary" type="submit">Submit</button>
      </form>
    </div>
    <div class="card-footer text-muted">
      <table class="table tabel-striped table-sm m-auto" style="width: 85%;">
        <h3>Analytics</h3>
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Visitor Id</th>
            <th scope="col">Timestamp</th>
          </tr>
        </thead>
        <tbody>
          <% for (let [index, visit] of allVisits.entries()) { %>
          <tr>
            <td><%= index %></td>
            <td><%= visit.visitorId + (visit.visitorId === user.id ? " (you)" : "") %></td>
            <td>
              <%= new Date(visit.timestamp).toLocaleDateString(undefined,{ year: 'numeric', month: 'long', day: 'numeric', hour: 'numeric', minute: 'numeric', second: 'numeric' } ) %>
            </td>
          </tr>
          <% } %>
        </tbody>
      </table>
    </div>
  </div>
  <%- include('partials/_bootstrap-scripts') %>
</body>

</html>